@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center my-5">
    <h1 class="display-4">Chào mừng đến với La Vaca </h1>
    <p class="lead">Nơi bạn thưởng thức ẩm thực tuyệt vời và dịch vụ đẳng cấp.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="~/images/gallery/nha_hang.jpg" alt="Không gian nhà hàng" class="img-fluid rounded shadow" />
        </div>
        <div class="col-md-6">
            <h3>Không gian sang trọng</h3>
            <p>Nhà hàng của chúng tôi mang đến không gian ấm cúng, hiện đại và tiện nghi cho mọi buổi gặp mặt hay tiệc tùng.</p>

            <h3>Ẩm thực tinh tế</h3>
            <p>Với thực đơn phong phú và nguyên liệu tươi ngon, đầu bếp của chúng tôi cam kết mang đến trải nghiệm ẩm thực khó quên.</p>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4">
            <img src="~/images/foods/pho_bo_dac_biet.jpg" class="img-fluid rounded mb-2" />
            <h5>Phở bò đặc biệt</h5>
        </div>
        <div class="col-md-4">
            <img src="~/images/foods/com_ga.jpg" class="img-fluid rounded mb-2" />
            <h5>Cơm gà xối mỡ</h5>
        </div>
        <div class="col-md-4">
            <img src="~/images/foods/che_khuc_bach.jpg" class="img-fluid rounded mb-2" />
            <h5>Chè khúc bạch</h5>
        </div>
    </div>
</div>
